﻿@model Rede.Models.Switchs

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Switchs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.edificio.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edificio.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ip_Atual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ip_Atual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ip_Antigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ip_Antigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bastidor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bastidor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Obs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obs)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Switchs_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
