﻿@model IEnumerable<Rede.Models.Switchs>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.edificio.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ip_Atual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ip_Antigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bastidor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Obs)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.edificio.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Assets)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ip_Atual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ip_Antigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bastidor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Obs)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Switchs_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Switchs_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Switchs_Id })
        </td>
    </tr>
}

</table>
