﻿@model Rede.Models.Edificio



@{
    ViewBag.Title = "Edifico com Nome Repetido";
}

<h2>Edifico com Nome Repetido</h2>

@Html.Label(Model.Nome + " já existe") 

<p/>
@Html.ActionLink("Registar com nome diferente","create")